@font-face {
    font-family: "Alfa";
    src: url(aleo/AlfaSlabOne-Regular.ttf);
} 
@font-face {
    font-family: "myriad";
    src: url(aleo/Myriad\ Pro\ Bold\ Condensed.ttf);
}
@font-face {
    font-family: "communist";
    src: url(aleo/COMMI___.TTF);
}
@font-face {
    font-family: "FontSpring";
    src: url(aleo/Fontspring-DEMO-tt_fors_bold.otf);
}
@font-face {
    font-family: "FontSpringLight";
    src: url(aleo/Fontspring-DEMO-tt_fors_display_medium.otf);
}
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    margin: 20px;
    
}
hr {
    border-top: 5px solid #8c8b8b;
}
.main-header{
    height: 100px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.mainheader1{
    display: flex;
    flex-direction: row;
    height: 80px;
}
.headeryellow{
    width: 600px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}
.headeryellow1{

    width: 80px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}
.headerlightblue{
    width: 400px;
    margin-left: 20px;
    background-color: rgb(205, 239, 250);
    display: flex;
    flex-direction: row;
}
.twitter{
    padding: 10px;
    font-size: 15px;
    font-family: "FontSpringLight";
}
.twitter1{
    padding: 15px;
    font-family: "FontSpringLight";
    font-size: 15px;
}
.main-content{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100%,auto );
    margin-top: 10px;
}

.main-content .standard{
    background-image: linear-gradient( rgb(12, 122, 173), rgb(33, 167, 230));
    font-weight: bolder;
    color: white;
    line-height: 0.7;
    padding-top: 50px;

    font-family: 'Alfa';
    letter-spacing: 8px;
    padding-bottom: 10px;
}

.standard .toptext{
    font-size: 65px;
    padding-left: 135px;
    padding-top: 30px;
    text-shadow: 2px 2px 10px #000000;
  
}
.standard .bottomtext{
    font-size: 140px;
    text-shadow: 2px 2px 10px #000000;
    padding-left: 20px;
}

p{
    margin-top: 20px;
    font-size: 11px;
    letter-spacing: -.5px;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: white;
    color: black
}
.red{
    background-color: red;
    color: red;
    font-size: 5px;
}
.modern{
    padding-top: 20px;
    background-color: white;
    color: black;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 110px;
    line-height: 1;
    font-family: 'myriad';
}
.groups{
    padding-top: 40px;
    background-color: white;
    color: rgb(44, 41, 41);
    letter-spacing: -1px;
    font-size: 38px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}



/*
2
*/

.main-content .content-right{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
    
}
.content-right .grey{
    background-color: rgb(66, 66, 62);
    color:  rgb(66, 66, 62);
    font-size: 5px;
    width: 100%;
   
}
.strike{
    margin-top: 10px;
    font-size: 75px;
    font-family: 'FontSpring';
    margin-left: 60px;
    color: red;
    text-shadow: 2px 2px 1px #000000;
    height: 100px;
    flex-direction: Row;
    display: flex;
}
.protest{
    margin-top: 20px;
    font-size: 32px;
    font-family: 'FontSpring';
    color: rgb(7, 64, 172);
    text-shadow: 2px 2px 1px #000000;
    line-height: 1;
}
.map{
 
    display: Flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    margin: 0;
    text-shadow: 1px 1px 1px #000000;
}
.map .left{
    width: 150px;
    height:120px; 
    text-align: center;
    padding-top: 50px;
    font-family: 'FontSpring';
    font-size: 12px;
    color: red;
    display: flex;
    flex-direction: column;
  

}
.map .right{
    width: 150px;
    height:120px; 
    text-align: center;
    padding-top: 80px;
    font-family: 'FontSpring';
    font-size: 12px;
    color: red;
    display: flex;
    flex-direction: column;
  

}
.map .title{
    width: 150px;
    height:120px; 
    text-align: center;
    font-family: 'FontSpring';
    font-size: 12px;
    color: red;
    display: flex;
    flex-direction: column;
    line-height: 2;

}
.map .title2{
    width: 150px;
    height:120px; 
    padding-top: 40px;
    text-align: center;
    font-family: 'FontSpring';
    font-size: 12px;
    color: red;
    display: flex;
    flex-direction: column;
    line-height: 2;

}
.map .title3{
    width: 150px;
    padding-top: 10px;
    text-align: center;
    font-family: 'FontSpring';
    font-size: 12px;
    color: rgb(26, 7, 7);
    display: flex;
    flex-direction: column;


}
.map .list{
    width: 150px;
    height:150px; 
    text-align: center;
    font-size: 11px;
    color: rgb(45, 110, 230);
    font-family: "FontSpringLight";
    display: flex;
    flex-direction: column;
    line-height: 1;

}
.map .list2{
    width: 150px;
    height:110px; 
    text-align: center;
    font-size: 11px;
    color: rgb(68, 127, 236);
    font-family: "FontSpringLight";
    display: flex;
    flex-direction: column;
    line-height: 1.5;

}
.left .bottom{
    font-size: 10px;
    color: rgb(45, 110, 230);
    font-family: "FontSpringLight";


}

.map .center{
    background-image: url("map.png");
    width: 230px;
    height: 450px;
}
.noto{
   
    font-size: 20px;
    font-family: 'FontSpring';
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: center;


}
.srtike2{
   
    font-size: 25px;
    font-family: 'FontSpring';
    color: rgb(45, 110, 230);
    line-height: 1;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.modern .this{
    width: 100%;
    font-size: 13px;
    font-family: "FontSpringLight";
    color: rgb(0, 0, 0);
   
}
.srtike3{
    width: 600px;
    font-size: 12px;
    font-family: "FontSpringLight";
    color: rgb(0, 0, 0);
    padding-left: 0%;
  
}
.strike4{
   
    font-size: 20px;
    font-family: 'FontSpring';
    color: rgb(45, 110, 230);
    line-height: 1;
    padding-top: 10px;
    width: 100%;
}






.commuters{
 margin-top: 280px;
 display: flex;
 flex-direction: row;
}
.com-left{
    display: flex;
    width: 300px;
    margin-left: 20px;
    flex-direction: column;
}
.boxlayout{
    border-color: #cf0101;
    background-color: #ffffff;
    width: 100%;
    color: #cf0101;
}
.bigbox{

    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 900px;
    background-image: url("bg1.png"); 
    background-repeat: no-repeat;
    
}
.box1{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    margin-top: 450px;
    background-image: url("bg2.png"); 
    background-repeat: no-repeat;

}
.box1note{
    width: 450px;
    height: 500px;
    margin-top: 300px;
    background-color: white;
  
}
.box2{

}